.CustomerInversion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Customer{
    width: 650px;
    max-width: 100%;
}

.btnInversion {
   
    font-size: 20px;
    font-weight: bold;
    padding: 5px 25px 10px 25px;
    background-color: #FF5733; /*color botón*/
    color: white; /*color texto*/
    text-decoration: none; /*decoración texto*/
    border-radius: 30px; /*bordes redondos*/
    
    
    }