.baseDiv{
    
    margin: 5px black;
    padding: 3%;
    background-image: url("/../inmobiliario/src/images/5914.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    color: rgb(0, 68, 255);
    font-weight: bold;
    text-shadow: 0px 0px #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.tituloFormData{
    color: orange;
    border: 20px black;
    font-weight: bold;
    text-shadow: 2px 2px #000000;

}
.botonFormulario {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 25px 10px 25px;
    background-color: rgb(255, 73, 1); /*color botón*/
    color: rgb(255, 255, 255); /*color texto*/
    text-decoration: none; /*decoración texto*/
    border-radius: 30px; /*bordes redondos*/
}
.formData {
    border-style: solid;
    padding: 2%;
    border-width: 1px;
    backdrop-filter: blur(30px);
}
.formNombre {
    border-style: solid;
    padding: 2%;
    border-width: 1px;
    backdrop-filter: blur(30px);
}