.contenedorMisionVision{
    padding: 20px;
    background:  #dc7633ff;
}

.HMisionVision{
    
    color: white;
    font-size: 30px;
    

}

.PMisionvision{
    color: white;
    font-size: 25px;

}

.Nuestroequipo{
    padding: 20px;
    display:flex;

    flex-direction: row;
    justify-content: space-around;
    flex-wrap: ;
}

.imgEquipo{
    margin-top: 20px;
    width: 200px;
    max-width: 100%;
}

